/*First mobile*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header, footer {
    background-color: #c44;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 50px;
  }
  li{
    list-style: none;
    display: inline-block;
  }
  main {
    display: grid;
    min-height: 80vh;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas: "my-nav" "my-section" "my-aside";
  }
  
  nav, section, aside {
    padding: 20px;
    box-sizing: border-box;
  }
  
  nav {
    background-color: #fbb;
    grid-area: my-nav;
  }
  
  section {
    background-color: #fdd;
    grid-area: my-section;
  }
  
  aside {
    background-color: #eef;
    grid-area: my-aside;
  }
  
  footer {
    height: 60px;
    background-color: darkred;
    color: white;
    text-align: center;
    line-height: 60px;
  }
  
  /*Diseño de tablet*/

  @media (min-width:600px) and (max-width:1000px) {
    main {
      grid-template-columns: 30% 1fr;
      grid-template-rows: 80px 1fr;
      grid-template-areas: "my-nav my-nav""my-aside my-section";
    }
    
  }


  /*Diseño de laptop*/
  @media (min-width:1001px){
    main {
      grid-template-columns: 20% 1fr 20%;
      grid-template-rows: 100%;
      grid-template-areas: "my-nav my-section my-aside";
    }
    
  }