*{
    margin: 0;
    font-family: Arial;
 }

 header{
    background-color: yellow;
    height: 80px;
 }
 nav{
    background-color: green;
    width: 25%;

 }
 section{
    background-color: gray;
    width: 75%;
 }
 footer{
    background-color: blue;
    height: 50px;
    clear: left;
 }
 nav,section{
    float: left;
    height: calc(100vh - 130px);
 }
 p{
    padding: 15px;
 }
 li{
    list-style: none;
 }
